<h2>Liste des infirmieres</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Numéro professionnel</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Tel Pro</th>
                <th>Tel Perso</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let infirmiere of infirmieres">
                <td>{{infirmiere.numeroProfessionnel}}</td>
                <td>{{infirmiere.nom}}</td>
                <td>{{infirmiere.prenom}}</td>
                <td>{{infirmiere.telPro}}</td>
                <td>{{infirmiere.telPerso}}</td>
                <td><button (click)="updateInfirmiere()" class="btn btn-sm">Modifier</button></td>
                <td><button (click)="deleteInfirmiere(infirmiere.id)" class="btn btn-danger btn-sm">Supprimer</button></td>
            </tr>
        </tbody>
    </table>
    <!-- <button routerLink="/infirmieres/add">Ajouter une infirmiere</button> -->
</div>